/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.input-group-append {
  cursor: pointer;
}

#buttonProfile {
  background: red;
}

#buttonLogOut {
  background: rgb(60, 255, 0);
}

#portraitProfilePicture {
  background: rgba(12, 12, 12, 0.4);
}
